body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blue {
  color: #990011;
}

.blue-background {
  background-color: #990011;
}

.page {
  margin-left: 100px;
  margin-right: 100px;
}

.btn-secondary {
  background-color: white;
  color: black;
}

.btn-secondary:hover {
  background-color: #5a896f;
  color: white;
}

.btn-secondary:active {
  background-color: #5a896f;
  color: white;
}
