body {
  margin: 0;
  font-family: Syne, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 15px;
  font-weight: bold;
}

.border-right {
  border-right: 1px solid #990011;
}
.blue {
  color: #990011;
}

.blue-background {
  background-color: #990011;
}

.page {
  margin-left: 100px;
  margin-right: 0px;
  position: relative;
  top: 120px;
}

.btn-secondary {
  background-color: white;
  color: black;
}

.btn-secondary:hover {
  background-color: #5a896f;
  color: white;
}

.btn-secondary:active {
  background-color: #5a896f;
  color: white;
}

.red {
  color: #990011;
}

.red-background {
  background-color: #990011;
}

.margin-right-100 {
  margin-right: 100px;
}

.border {
  border: 1px solid #990011;
}

.questrial {
  font-family: "Questrial", sans-serif;
}
