.team-page-name-text {
    font-size: 36px;
    font-weight: bold;
}

.team-logo {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.team-header-container {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.team-name-header-text {
    margin: 10px;
}

.team-stats-header-text {
    margin: 10px;
    font-weight: normal;
    font-size: 16px;
}