.account-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 400px;
  min-width: 400px;
  max-height: auto;
  margin-right: 20px;
}

.follower-section,
.following-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 400px;
  min-width: 400px;
  margin-right: 20px;
  height: auto;
}
