.navbar {
  border-bottom: 1px solid #e3e3e3;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-home {
  margin-left: 100px;
  color: white;
  font-size: 50px;
  border: 1px solid black;
  cursor: pointer;
  text-wrap: nowrap;
}

.navbar-search {
  margin-left: 200px;
  border: 1px solid black;
  text-wrap: nowrap;
}

.navbar-account {
  margin-left: 500px;
  margin-right: 100px;
  border: 1px solid black;
}
