.navbar {
  border-bottom: 1px solid #e3e3e3;
  min-width: 500px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 100;
  text-wrap: nowrap;
}

.navbar-home {
  margin-left: 100px;
  color: white;
  font-size: 50px;
  border: 1px solid black;
  cursor: pointer;
  text-wrap: nowrap;
}

.navbar-search {
  margin-left: 200px;
  text-wrap: nowrap;
}

.navbar-account {
  margin-left: 200px;
  border: 1px solid black;
  background-color: #ffc000;
  color: #ffc000;
}

.navbar-search-dropdown {
  background-color: #ffc000;
  color: #ffc000;
}

.navbar-search-icon-box {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: auto;
}

.margin-right-100 {
  margin-right: 100px;
}
